<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/scripts.js"></script>
    <title>Play</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Rock, Paper, Scissors</h1>
      </div>
        <div class="row">
          <div class="col-md-4">
            <form action="/play" method="post" id="players">
              <div class="form-group" id="hide">
                <label for="player1"><span id="click">Player 1</span></label>
                <input id="player1" name="player1" type="text" class="form-control" placeholder="Enter rock paper or scissors">
              </div>
              <div class="form-group">
                <label for="player2">Player 2</label>
                <input id="player2" name="player2" type="text" class="form-control" placeholder="Enter rock paper or scissors">
              </div>
              <button type="submit">Play</button>
            </form>


            {% if result is not empty %}
              <h3>{{ result }}</h3>
            {% endif %}

            <h2>Play With Computer</h2>
            <form action="/playpc" method="post">
              <label for="player1">Player</label>
              <input id="player1" name="player1" type="text">
              <button type="submit">Play</button>

              {% if auto is not empty %}
                <h3>{{ auto }}</h3>
              {% endif %}
            </form>
        </div>
      </div>
    </div>
  </body>
</html>
